:root {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.background{
  background-image: url(https://img.freepik.com/premium-vector/sky-clouds-design-with-flat-cartoon-poster-flyers-postcards-web-banners_771576-58.jpg?size=626&ext=jpg&ga=GA1.1.2113030492.1720224000&semt=ais_user);
  background-size:cover;
  background-repeat: no-repeat;
  filter: blur(5px);
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  top: 0;
  left: 0;
}